.carousel-indicators {
    text-align: center;
}
.carousel-indicators [type="button"] {
    width: 11px;
    height: 11px;
    background-color: var(--title-font-color);
    border-color: transparent;
    border-radius: 50%;
    margin: 1em 0.6em 10em 0.6em;
}
.carousel-indicators [type="button"]:hover {
    background-color: var(--title-font-color-light);
}
.stunning-spots_carousel {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.stunning-spots__carousel-img {
    display: block;
    width: 370px;
    height: 332px;
    object-fit: cover;
    object-position: 50% 70%;
    margin-bottom: 1.7em;
}